

@media screen and (max-width: 600px) {

    .houses {
        display: flex;
        flex-direction: column;
    }
    .houses-2{
        display: flex;
        flex-direction: column;
    }

    .nxt-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
.svs-2 {
    display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        justify-content: center;
}

.pic-8 {
    display: none;
}



}

.for-rent {
    width: 110px;
    z-index: 99;
    position: relative;
    top: 52px;
    left: 244px;
}
